{% extends 'gallery/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-12 text-center">
      <small>{{image.id}}</small>
      <br>Status: {{image.get_status_display}}
      <br>Uploaded: {{image.created_at|date:'SHORT_DATETIME_FORMAT'}}
    </div>
  </div>
  <hr>
  <div class="row text-center">
    {% if image.status == ready %}
      {% for v in versions %}
        <div class="col-md-4 border">
          <img src="{{v.url}}" class="img-fluid">
          <br>
          {{v.width}}x{{v.height}}
          <br>
          <strong>{{v.name}}</strong>
          <br>
        </div>
      {% endfor %}
    {% elif image.status in waiting  %}
      <div class="col-12 text-center">
        The images will be available shortly.
        <script>
          setTimeout(function () { location.reload(true); }, 5000);
        </script>
      </div>
    {% elif image.status == error %}
      <div class="col-12 text-center">
        Something went wrong while processing this request.
      </div>
    {% elif image.status == invaid %}
      <div class="col-12 text-center">
        The uploaded image was too small.
      </div>
    {% endif %}
  </div>
{% endblock %}