.idea/

# Created by https://www.gitignore.io/api/macos,linux,django,python,pycharm

### Django ###
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# virtualenv
.venv/

