{% extends 'gallery/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4 class="text-center">Upload Image</h4>
      <p>
        Please select an image which is at least 1024x1024 px. <br>
        Larger images will be cropped. Smaller images will not be accepted
      </p>
      <form id="upload-form" method="post" enctype="multipart/form-data">
        <div class="custom-file">
          <input name="file" type="file" class="form-control-file border" accept="image/*" id="fileinput">
          <label class="custom-file-label" for="fileinput">Choose file</label>
        </div>
        <hr>
        <input type="submit" class="btn btn-block btn-primary" id="submit">
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock %}
  
{% block bodyscripts %}
  <script type="text/javascript">
    $(function(){
      function reportUpload(imgid){
        var reporting_api = "/uploader/apis/s3-upload-complete";
        $.ajax({
          method: 'POST',
          url: reporting_api,
          data: {"imgid": imgid}
        }).done(function(data, status, jqXhr){
          window.location.replace("/gallery/image?id="+imgid);
        }).fail(function(jqXhr, status, error){
          console.log(jqXhr);
          console.log(status);
          console.log(error);
        });
      }

      function signParamsUploadToS3(form_data){
        var siging_api = "/uploader/apis/s3-signed-post-params";
        $.get(siging_api).done(function(data,status,jqXhr){
          console.log(data);
          console.log(status);
          console.log(jqXhr);

          if(status === "success"){
            postToAwsS3(data.payload, form_data.get('file'))
          }
        }).fail(function(jqXhr, status, error){
          console.log(jqXhr);
          console.log(status);
          console.log(error);
        });
      }

      function postToAwsS3(signed_params, fileObj) {
        var form_data = new FormData();
        var s3params = signed_params.s3params;
        var s3url = s3params.url;
        $.each(s3params.fields, function(field, val){
          form_data.append(field, val)
        });
        form_data.append('file', fileObj);
        $.ajax({
          method: 'POST',
          url: s3url,
          data: form_data,
          processData: false,
          enctype: "multipart/form-data",
          contentType: false,
        }).done(function(data, status, jqXhr){
          console.log(data);
          console.log("s3 upload" + status);
          console.log(jqXhr);
          reportUpload(signed_params.imgid)
        }).fail(function(jqXhr, status, error){
          console.log(jqXhr);
          console.log(status);
          console.log(error);
        });
      }

      $("#upload-form").submit(function(evt){
        var form_data = new FormData($(this)[0]);
        signParamsUploadToS3(form_data);
        evt.preventDefault();
      });

      $("#fileinput").change(function (evt) {
        var URL = window.URL || window.webkitURL;
        var file, img;
        var message = "Please use an image of at least 1024x1024 px."
        var widthOK, heightOK;
        if ((file = this.files[0])) {
          img = new Image();
          img.onload = function () {
            widthOK  = (this.width >= 1024)
            heightOK = (this.height >= 1024)
            if(widthOK && heightOK){
              $(".custom-file-label").html(file.name)
              return true;
            }else{
              evt.preventDefault();
              if(!widthOK){
                message = message + " Detected width: " + this.width +"px."
              }
              if (!heightOK) {
                message = message + " Detected height: " + this.height +"px."
              }
              $("#fileinput")[0].value = "";
              alert(message);

            }
          };
          img.src = URL.createObjectURL(file);
        }
      });
    })
  </script>
{% endblock %}
