{% extends 'gallery/base.html' %}

{% block content %}
  <h4 class="text-center">Gallery</h4>
  <div class="row">
    {% for image in images %}
    <div class="col-md-6 border">
      <a class="small" href="/gallery/image?id={{image.id}}">
        <img src="{{image.guess_small_img}}" style="width:100px;"><br>
        {{image.id}}
      </a><br>
      <label class="label label-info">{{image.get_status_display}}</label>
      <br>
      Uploaded: {{image.created_at|date:'SHORT_DATETIME_FORMAT'}}<br>
    </div>
    {% endfor %}
  </div>
  <hr>
  <div class="row d-flex justify-content-center">

    <span class="step-links">
      {% if images.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ images.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ images.number }} of {{ images.paginator.num_pages }}.
      </span>

      {% if images.has_next %}
        <a href="?page={{ images.next_page_number }}">next</a>
        <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>

  </div>
{% endblock %}
